<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
    <h2>Luxurytravelroutes</h2>
  <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('destinations_page') }}">Destinations</a>
        <a href="{{ url_for('visa') }}">Worldwide Visa</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
    </nav>
</header>

<section class="hero">
    <h1>About Us</h1>
</section>

<section class="packages">
    <h2>Who We Are</h2>
    <p style="text-align:center;">
        We are a premium travel agency offering luxury tours, visa services, and worldwide travel experiences.
    </p>
</section>

</body>
</html>